@model Jivy_Malik_Goods_Transport_Company.Models.Builty

@{
    ViewBag.Title = "BuiltyDetail";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item text-white">
        <a href="/Admin/Index" class="text-info">Dashboard</a>
    </li>
    <li class="breadcrumb-item active text-info"> Builty Home</li>
</ol>
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <div class="row">
        <span class="text-danger">
            @TempData["message"]
        </span>
    </div>
    <div class="card mb-3">
        <div class="card-header bg-info">
            <i class="fa fa-table"></i>Builty Detail
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <dl class="row">
                        <dt class="col-5">Builty Number</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyNumber)</dd>
                        <dt class="col-5">Date</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyDate)</dd>
                        <dt class="col-5">Truck Number</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyTruckNumber)</dd>
                        <dt class="col-5">Driver Name</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyDriver)</dd>
                        <dt class="col-5">Driver CNIC</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyDriverId)</dd>
                        <dt class="col-5">Driver Number</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyDriverNumber)</dd>
                        <dt class="col-5">Seller</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltySeller)</dd>
                        <dt class="col-5">Buyer</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyBuyer)</dd>
                        <dt class="col-5">Source</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltySource)</dd>
                        <dt class="col-5">Destination</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyDestination)</dd>
                    </dl>

                </div>
                <div class="col-6">
                    <dl class="row">
                        <dt class="col-5">Builty Type</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyType)</dd>
                        <dt class="col-5">Vehicle Size</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyVehicleSize)</dd>
                        <dt class="col-5">Goods Detail</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyGoodsDetail)</dd>
                        <dt class="col-5">Quantity</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyQuantity)</dd>
                        <dt class="col-5">Weight</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyWeight)</dd>
                        <dt class="col-5">Builty Rate</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyRate)</dd>
                        <dt class="col-5">Primary Fare</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyFare)</dd>
                        <dt class="col-5">Adv Payment</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyAdvance)</dd>
                        <dt class="col-5">Rem Payments</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyRemainingPayment)</dd>
                        <dt class="col-5">Final Fare</dt>
                        <dd class="col-7">@Html.DisplayFor(model => model.BuiltyFinalFare)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
